html, body, #map-canvas, #map-overlay
	margin: 0
	padding: 0
	height: 100%
	width: 100%
	position: absolute
	top: 0
	left: 0

#map-canvas
	height: 100%

#map-overlay
	z-index: 100
	background: rgba(50, 50, 50, .5)
	opacity: 0.5